<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      Cuestionario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding" size="12">
        <ion-item>
          <ion-input placeholder="Nombre completo" [(ngModel)]="nameUser"></ion-input>
          <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngFor="let item of questionsData" >
        <ion-card>
          <ion-card-header color="light">
            <ion-card-title>{{ item.nameQuestion }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-radio-group (ionChange)="onChange_selectedAnswer($event, item.idQuestion)">
                <ion-item *ngFor="let answer of item.answers" >
                  <ion-label class="nameAnswer">{{ answer.nameAnswer }}</ion-label>
                  <ion-radio [value]="answer.idAnswer"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="full" (click)="onClick_saveForm()" >Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
